template(name="header")
  nav.navbar.navbar-default
    .navbar-header
      a.navbar-brand(href="/", title="Home") {{_ "title"}}
    .navbar-collapse
      ul.nav.navbar-nav.navbar-right
        +loginButtons
